TAMANO_MEMORIA=2048
TAMANO_MINIMO_PARTICION=32
ALGORITMO_MEMORIA=BS
ALGORITMO_REEMPLAZO=FIFO
ALGORITMO_PARTICION_LIBRE=FF
IP_BROKER=127.0.0.1
PUERTO_BROKER=6009
FRECUENCIA_COMPACTACION=3
LOG_FILE=./cfg/logObligatorio.log
TIEMPO_DE_REINTENTO_CONEXION=10
TIEMPO_DE_REINTENTO_OPERACION=5
PUNTO_MONTAJE_TALLGRASS=/home/utnso/workspace/tp-2020-1c-Pandemiga/gamecard/TALL_GRASS
CONNECTION_TIME=10;